
<% include partials/header %>

<div class="container">
<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <i class="fas fa-user pr-2"></i>PROFILE
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-12 divider">
                    <div class="card">

                        <img src="<%= userId.userImage %>" class="img-thumbnail custom-img rounded-circle" alt="">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5 class="card-title"><%= userId.firstName %> 
                                        <%= userId.lastName %></h5>
                                <li class="list-group-item">
                                    <h6 class="card-text tilt"><%= userId.email %></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <h6 class="col-md-6 col-sm-4 col-form-label">First name</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext"><%= userId.firstName %></p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-md-6 col-sm-4 col-form-label">Last name</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext"><%= userId.lastName %></p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-md-6 col-sm-4 col-form-label">Gender</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext"><%= userId.gender %></p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-md-6 col-sm-4 col-form-label">Birth Date</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext"><%= userId.birthdate %></p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <hr class="my-2">
                            <div class="form-group row mb-0">
                                <h6 class="col-md-6 col-sm-4 col-form-label">Location</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext"><%= userId.location %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<% include partials/fotter %>
